<% if !@user.errors.messages.empty? %>
  <%= @user.errors.messages %>
<% end %>

<ul>
<%= form_for @user do |f| %>

  <li>
    <p>
      <%= f.label :cohort %>
      <%= f.text_field :cohort %>
    </p>
  </li>
  <li>
    <p>
      <%= f.label :username  %>
      <%= f.text_field :username %>
    </p>
  </li>
  <li>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
  </li>
  <li>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
  </li>
  <li>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
  </li>
  <li> <%= f.submit %> </li>
<% end %>
</ul>
