<h1>ALL ANSWERS</h1>

<% @answers.each do |answer| %>
  <div class="answer">
  <div class="answer-prose">
    <%= answer.prose %> <br><br>
  </div>
  <div class="answer-code">
    <%= simple_format answer.code %> <br><br>
  <button class="run-code">Run this code</button>

   <div class="answer-file">
     <%= @result_from_terminal %>
   </div>
  </div>
  <div class="answered-by">
    Answered by: <%= User.find(answer.user_id).username %>
  </div>
  <%= render partial: "votes/index", locals: {answer: answer} %>
  </div><br><br><br>
<% end %>
