
<div class="answer-container">
  <div class="answer-prompt">
    <h1><%= @question.prompt %></h1>
  </div>
  <div class="answer-prose">
    <%= @answer.prose %> <br><br>
  </div>
  <div class="answer-code">
    <%= simple_format @answer.code %> <br><br>
  <button class="run-code">Run this code</button>

   <div class="answer-file">
     <%= @result_from_terminal %>
   </div>
  </div>
  <div class="answered-by">
    Answered by: <%= User.find(@answer.user_id).username %>
  </div>
  <%= render partial: "votes/index", locals: {answer: answer} %>
</div>

